USE [HopAmChuan2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ComposerName] [nvarchar](200) NULL,
	[AuthorName] [nvarchar](200) NULL,
 CONSTRAINT [PK__Author__3214EC075DC6F27B] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK__Category__3214EC070730C10F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chord]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chord](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[IdChordGroup] [int] NULL,
	[IdChordType] [int] NULL,
	[IdListOfImageUrls] [int] NULL,
	[KeyNo] [bit] NULL,
 CONSTRAINT [PK__Chord__3214EC0737BC818D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChordGroup]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChordGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK__ChordGro__3214EC075A287B93] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChordType]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChordType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK__ChordTyp__3214EC07B28D8252] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupOfSinger]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupOfSinger](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[NumberOfMembers] [int] NULL,
 CONSTRAINT [PK__GroupOfS__3214EC07E3EE3F0D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuestWatch]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuestWatch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Phone] [char](11) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
 CONSTRAINT [PK_GuestWatch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListOfImageUrls]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListOfImageUrls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [ntext] NULL,
 CONSTRAINT [PK__ListOfIm__3214EC07C3F331FC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Singer]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Singer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Content] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
 CONSTRAINT [PK__Singer__3214EC07198F0FAA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SingerGroup]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SingerGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSinger] [int] NULL,
	[IdGroupOfSinger] [int] NULL,
 CONSTRAINT [PK__SingerGr__3214EC0745F92ABD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SingerTone]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SingerTone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSinger] [int] NULL,
	[IdTone] [int] NULL,
 CONSTRAINT [PK__SingerTo__3214EC07E4F92C44] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Song]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Content] [ntext] NULL,
	[DateTime] [datetime] NULL,
	[View] [int] NULL,
	[Tag] [nvarchar](500) NULL,
	[Link] [ntext] NULL,
	[IdCountryComposes] [int] NULL,
	[Activity] [bit] NULL,
	[Url] [nvarchar](255) NULL,
	[Lyrics] [nvarchar](max) NULL,
 CONSTRAINT [PK__Song__3214EC071BF03E92] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongAuthor]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongAuthor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSong] [int] NULL,
	[IdAuthor] [int] NULL,
 CONSTRAINT [PK__SongAuth__3214EC07BBE1013C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongCategory]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSong] [int] NULL,
	[IdCategory] [int] NULL,
 CONSTRAINT [PK__SongCate__3214EC07635A6842] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongChord]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongChord](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSong] [int] NULL,
	[IdChord] [int] NULL,
 CONSTRAINT [PK__SongChor__3214EC072AA6F79C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongSinger]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongSinger](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSong] [int] NULL,
	[IdSinger] [int] NULL,
 CONSTRAINT [PK__SongSing__3214EC07B98074EA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongUser]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSong] [int] NULL,
	[IdUser] [int] NULL,
 CONSTRAINT [PK__SongUser__3214EC0726592A6A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheCountryThatComposesTheSong]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheCountryThatComposesTheSong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK__TheCount__3214EC07E027F02F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tone]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[IdChord] [int] NULL,
 CONSTRAINT [PK__Tone__3214EC07361CA81F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Phone] [char](11) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[UserName] [nvarchar](255) NULL,
	[Password] [nvarchar](100) NULL,
	[IdUserGroup] [int] NULL,
 CONSTRAINT [PK__User__3214EC079905EE27] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserComent]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserComent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Coment] [nvarchar](255) NULL,
 CONSTRAINT [PK_UserComent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserComent_User]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserComent_User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUserComent] [int] NULL,
	[IdUser] [int] NULL,
 CONSTRAINT [PK_UserComent_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 12/18/2024 4:30:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
 CONSTRAINT [PK__UserGrou__3214EC0775C6BAF9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chord]  WITH CHECK ADD  CONSTRAINT [FK_ChordGroup_Chord] FOREIGN KEY([IdChordGroup])
REFERENCES [dbo].[ChordGroup] ([Id])
GO
ALTER TABLE [dbo].[Chord] CHECK CONSTRAINT [FK_ChordGroup_Chord]
GO
ALTER TABLE [dbo].[Chord]  WITH CHECK ADD  CONSTRAINT [FK_ChordType_Chord] FOREIGN KEY([IdChordType])
REFERENCES [dbo].[ChordType] ([Id])
GO
ALTER TABLE [dbo].[Chord] CHECK CONSTRAINT [FK_ChordType_Chord]
GO
ALTER TABLE [dbo].[Chord]  WITH CHECK ADD  CONSTRAINT [FK_ListOfImageUrls_Chord] FOREIGN KEY([IdListOfImageUrls])
REFERENCES [dbo].[ListOfImageUrls] ([Id])
GO
ALTER TABLE [dbo].[Chord] CHECK CONSTRAINT [FK_ListOfImageUrls_Chord]
GO
ALTER TABLE [dbo].[SingerGroup]  WITH CHECK ADD  CONSTRAINT [FK_GroupOfSinger_SingerGroup] FOREIGN KEY([IdGroupOfSinger])
REFERENCES [dbo].[GroupOfSinger] ([Id])
GO
ALTER TABLE [dbo].[SingerGroup] CHECK CONSTRAINT [FK_GroupOfSinger_SingerGroup]
GO
ALTER TABLE [dbo].[SingerGroup]  WITH CHECK ADD  CONSTRAINT [FK_Singer_SingerGroup] FOREIGN KEY([IdSinger])
REFERENCES [dbo].[Singer] ([Id])
GO
ALTER TABLE [dbo].[SingerGroup] CHECK CONSTRAINT [FK_Singer_SingerGroup]
GO
ALTER TABLE [dbo].[SingerTone]  WITH CHECK ADD  CONSTRAINT [FK_Singer_SingerTone] FOREIGN KEY([IdSinger])
REFERENCES [dbo].[Singer] ([Id])
GO
ALTER TABLE [dbo].[SingerTone] CHECK CONSTRAINT [FK_Singer_SingerTone]
GO
ALTER TABLE [dbo].[SingerTone]  WITH CHECK ADD  CONSTRAINT [FK_Tone_SingerTone] FOREIGN KEY([IdTone])
REFERENCES [dbo].[Tone] ([Id])
GO
ALTER TABLE [dbo].[SingerTone] CHECK CONSTRAINT [FK_Tone_SingerTone]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [FK_Song_CountryComposes] FOREIGN KEY([IdCountryComposes])
REFERENCES [dbo].[TheCountryThatComposesTheSong] ([Id])
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [FK_Song_CountryComposes]
GO
ALTER TABLE [dbo].[SongAuthor]  WITH CHECK ADD  CONSTRAINT [FK_Author_SongAuthor] FOREIGN KEY([IdAuthor])
REFERENCES [dbo].[Author] ([Id])
GO
ALTER TABLE [dbo].[SongAuthor] CHECK CONSTRAINT [FK_Author_SongAuthor]
GO
ALTER TABLE [dbo].[SongAuthor]  WITH CHECK ADD  CONSTRAINT [FK_Song_SongAuthor] FOREIGN KEY([IdSong])
REFERENCES [dbo].[Song] ([Id])
GO
ALTER TABLE [dbo].[SongAuthor] CHECK CONSTRAINT [FK_Song_SongAuthor]
GO
ALTER TABLE [dbo].[SongCategory]  WITH CHECK ADD  CONSTRAINT [FK_Category_SongCategory] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[SongCategory] CHECK CONSTRAINT [FK_Category_SongCategory]
GO
ALTER TABLE [dbo].[SongCategory]  WITH CHECK ADD  CONSTRAINT [FK_Song_SongCategory] FOREIGN KEY([IdSong])
REFERENCES [dbo].[Song] ([Id])
GO
ALTER TABLE [dbo].[SongCategory] CHECK CONSTRAINT [FK_Song_SongCategory]
GO
ALTER TABLE [dbo].[SongChord]  WITH CHECK ADD  CONSTRAINT [FK_Song_Chord] FOREIGN KEY([IdChord])
REFERENCES [dbo].[Chord] ([Id])
GO
ALTER TABLE [dbo].[SongChord] CHECK CONSTRAINT [FK_Song_Chord]
GO
ALTER TABLE [dbo].[SongChord]  WITH CHECK ADD  CONSTRAINT [FK_Song_SongChord] FOREIGN KEY([IdSong])
REFERENCES [dbo].[Song] ([Id])
GO
ALTER TABLE [dbo].[SongChord] CHECK CONSTRAINT [FK_Song_SongChord]
GO
ALTER TABLE [dbo].[SongSinger]  WITH CHECK ADD  CONSTRAINT [FK_Singer_SongSinger] FOREIGN KEY([IdSinger])
REFERENCES [dbo].[Singer] ([Id])
GO
ALTER TABLE [dbo].[SongSinger] CHECK CONSTRAINT [FK_Singer_SongSinger]
GO
ALTER TABLE [dbo].[SongSinger]  WITH CHECK ADD  CONSTRAINT [FK_Song_SongSinger] FOREIGN KEY([IdSong])
REFERENCES [dbo].[Song] ([Id])
GO
ALTER TABLE [dbo].[SongSinger] CHECK CONSTRAINT [FK_Song_SongSinger]
GO
ALTER TABLE [dbo].[SongUser]  WITH CHECK ADD  CONSTRAINT [FK_Song_SongUser] FOREIGN KEY([IdSong])
REFERENCES [dbo].[Song] ([Id])
GO
ALTER TABLE [dbo].[SongUser] CHECK CONSTRAINT [FK_Song_SongUser]
GO
ALTER TABLE [dbo].[SongUser]  WITH CHECK ADD  CONSTRAINT [FK_User_SongUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[SongUser] CHECK CONSTRAINT [FK_User_SongUser]
GO
ALTER TABLE [dbo].[Tone]  WITH CHECK ADD  CONSTRAINT [FK_Tone_Chord] FOREIGN KEY([IdChord])
REFERENCES [dbo].[Chord] ([Id])
GO
ALTER TABLE [dbo].[Tone] CHECK CONSTRAINT [FK_Tone_Chord]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserGroup] FOREIGN KEY([IdUserGroup])
REFERENCES [dbo].[UserGroup] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserGroup]
GO
